{% block teacher_list %}

{% for teacher_id, teacher in teachers.items() %}
<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            {% if teacher.picture %}
            <div class="col-3"><img src="{{ teacher.picture }}" class="img-fluid"></div>
            {% else %}
            <div class="col-3"><img src="https://hyiproom.net/images/no_avatar.svg" class="img-fluid"></div>
            {% endif %}
            <div class="col-9">
                <p class="float-right">Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</p>
                <h5>{{ teacher.name }}</h5>
                <p>{{ teacher.about|truncate(200) }}</p>
                <a href="{{ url_for('profile', teacher_id=teacher_id) }}" class="btn btn-primary btn-sm mr-3">Записаться
                    на пробный урок</a>
                <a href="{{ url_for('message', teacher_id=teacher_id) }}"
                    class="btn btn-outline-primary btn-sm">Отправить сообщение</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}