{% extends "base.html" %}

{% block content %}
<div class="card my-5  mx-auto ">

    <div class="card-body m-4">
        <div class="row">
            {% if picture %}
            <div class="col-5"><img src="{{ picture }}" class="img-fluid"></div>
            {% else %}
            <div class="col-5"><img src="https://hyiproom.net/images/no_avatar.svg" class="img-fluid"></div>
            {% endif %}
            <div class="col-7">
                <h2>{{ name }}</h2>
                <p>
                    {% for goal in translated_goals %}
                    <span class="badge badge-secondary mr-2">
                        {{ goal }}
                    </span>
                    {% endfor %}
                    Рейтинг: {{ rating }} Ставка: {{ price }} / час
                </p>
                <p>{{ about }}</p>
                <br> <br>
                <a href="{{ url_for('message', teacher_id=teacher_id) }}"
                    class="btn btn-outline-secondary btn-sm ">Отправить сообщение</a>
            </div>
        </div>
    </div>

    <div class="card-body  m-4">
        <h5 class="mb-4">Записаться на пробный урок</h5>
        <table class="table">

            <td>#</td>
            {% for time in free.mon %}
            <td><b>{{ time }}</b></td>
            {% endfor %}

            {% for day, times in free.items() %}
            <tr>
                <td><b>{{ ru_days[day]|capitalize }}</b></td>
                {% for time, is_free in times.items() %}
                {% if is_free %}
                <td>
                    <a href="{{ url_for('booking', teacher_id=teacher_id, day=day, time=time) }}"
                        class="btn btn-sm btn-success">
                        {{ time }}
                    </a>
                </td>
                {% else %}
                <td><a href="#" class="btn btn-sm btn-secondary">{{ time }}</a></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>



</div>

</div>

{% endblock %}